Source: nexus
Maintainer: Hajo Eichler <eichler.hajo@googlemail.com>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 8)

Package: nexus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, default-jre-headless
Description: Sonatype Nexus Maven Repository
